*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body{
  background: #f5f6fa;
}

.navbar{
  background: #1e293b;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.container{
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 0;
}

.sidebar{
  background: white;
  padding: 25px;
  border-right: 2px solid #e5e7eb;
}

.sidebar h2{
  margin-bottom: 20px;
}

label{
  margin-top: 12px;
  display: block;
  font-weight: 600;
}

input, select{
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;
}

.btn{
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin-top: 18px;
  cursor: pointer;
}

.content{
  padding: 30px;
}

.summary{
  display: flex;
  gap: 25px;
  margin-bottom: 35px;
}

.card{
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.card p{
  font-size: 26px;
  margin-top: 10px;
}


table{
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 15px;
}

th, td{
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

tr:hover{
  background: #f1f5f9;
}

#search{
  width: 40%;
  padding: 10px;
  margin-bottom: 15px;
}

.chart-box{
  margin-top: 30px;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

#lineChart{
  height: 300px !important;
}

#pieChart{
  max-width: 350px;
  height: 350px !important;
  margin: auto;
  display: block;
}
